# Virtual Environments - created by UV tool
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# General files
data/logs/*.log

# Distribution / packaging
build/
dist/
*.spec

# Environment file - contains sensitive information
.env

# IDE files
.vscode/
